importClassesFrom(Biobase, AnnotatedDataFrame, AssayData, eSet,
                  ExpressionSet, MIAME, Versioned, VersionedBiobase,
                  Versions)
importClassesFrom(methods, character, matrix)
importMethodsFrom(methods, initialize)
importMethodsFrom(Biobase, annotatedDataFrameFrom, exprs, se.exprs, "se.exprs<-", annotation, sampleNames)

importFrom(Biobase, assayDataElement, assayDataElementReplace, assayDataNew, pData)
importFrom(methods, is, callNextMethod, new, setAs, as)
importFrom(utils, citation, toBibtex)
importFrom(mvtnorm, rmvnorm)
importFrom(limma, lmFit)
importFrom(arm, bayesglm)
import(HTqPCR)

export(qpcrImpute)
